In [59]:
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import process
import seaborn as sns
import matplotlib.pyplot as plt
import plotly_express as px

movies, ratings = pd.read_csv('../data/movies.csv'), pd.read_csv('../data/ratings.csv')

In [60]:
movies_df = movies.assign(genres=movies['genres'].str.split('|')).explode('genres')

In [61]:
movies_df

       movieId             title     genres
0            1  Toy Story (1995)  Adventure
0            1  Toy Story (1995)  Animation
0            1  Toy Story (1995)   Children
0            1  Toy Story (1995)     Comedy
0            1  Toy Story (1995)    Fantasy
...        ...               ...        ...
58096   193882      Flora (2017)     Horror
58096   193882      Flora (2017)     Sci-Fi
58097   193886       Leal (2018)     Action
58097   193886       Leal (2018)      Crime
58097   193886       Leal (2018)      Drama

[106107 rows x 3 columns]

In [62]:
movies_df[movies_df['title'] =='Lord of the Rings: The Fellowship of the Ring, The (2001)']

      movieId                                              title     genres
4898     4993  Lord of the Rings: The Fellowship of the Ring,...  Adventure
4898     4993  Lord of the Rings: The Fellowship of the Ring,...    Fantasy

In [63]:
movies_df.drop_duplicates()
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106107 entries, 0 to 58097
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   movieId  106107 non-null  int64
 1   title    106107 non-null  object
 2   genres   106107 non-null  object
dtypes: int64(1), object(2)
memory usage: 3.2+ MB

In [64]:
movies_df['year']  = movies_df['title'].str.extract(r'\((\d{4})\)')

In [65]:
movies_df = movies_df.dropna(subset=['year', 'genres'], how='any')

In [66]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105711 entries, 0 to 58097
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   movieId  105711 non-null  int64
 1   title    105711 non-null  object
 2   genres   105711 non-null  object
 3   year     105711 non-null  object
dtypes: int64(1), object(3)
memory usage: 4.0+ MB

In [67]:
movies_df.loc[:, 'year'] = movies_df['year'].astype(int)

/var/folders/z0/17ykh1n151x8y8rfk6dfkv500000gn/T/ipykernel_16232/3294470937.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df.loc[:, 'year'] = movies_df['year'].astype(int)
/var/folders/z0/17ykh1n151x8y8rfk6dfkv500000gn/T/ipykernel_16232/3294470937.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  movies_df.loc[:, 'year'] = movies_df['year'].astype(int)

In [68]:
movies_df

       movieId             title     genres  year
0            1  Toy Story (1995)  Adventure  1995
0            1  Toy Story (1995)  Animation  1995
0            1  Toy Story (1995)   Children  1995
0            1  Toy Story (1995)     Comedy  1995
0            1  Toy Story (1995)    Fantasy  1995
...        ...               ...        ...   ...
58096   193882      Flora (2017)     Horror  2017
58096   193882      Flora (2017)     Sci-Fi  2017
58097   193886       Leal (2018)     Action  2018
58097   193886       Leal (2018)      Crime  2018
58097   193886       Leal (2018)      Drama  2018

[105711 rows x 4 columns]

In [69]:
movies_df['title_no_year'] = movies['title'].apply(lambda x: x.split("(")[0].rstrip())

/var/folders/z0/17ykh1n151x8y8rfk6dfkv500000gn/T/ipykernel_16232/4233490896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['title_no_year'] = movies['title'].apply(lambda x: x.split("(")[0].rstrip())

In [70]:
movies_df

       movieId             title     genres  year title_no_year
0            1  Toy Story (1995)  Adventure  1995     Toy Story
0            1  Toy Story (1995)  Animation  1995     Toy Story
0            1  Toy Story (1995)   Children  1995     Toy Story
0            1  Toy Story (1995)     Comedy  1995     Toy Story
0            1  Toy Story (1995)    Fantasy  1995     Toy Story
...        ...               ...        ...   ...           ...
58096   193882      Flora (2017)     Horror  2017         Flora
58096   193882      Flora (2017)     Sci-Fi  2017         Flora
58097   193886       Leal (2018)     Action  2018          Leal
58097   193886       Leal (2018)      Crime  2018          Leal
58097   193886       Leal (2018)      Drama  2018          Leal

[105711 rows x 5 columns]

In [71]:
has_any_nan = movies_df.isna().any().any()
has_any_nan

False

In [72]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105711 entries, 0 to 58097
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   movieId        105711 non-null  int64
 1   title          105711 non-null  object
 2   genres         105711 non-null  object
 3   year           105711 non-null  int64
 4   title_no_year  105711 non-null  object
dtypes: int64(2), object(3)
memory usage: 4.8+ MB

In [74]:
# movies_df.to_csv('../data/new_movies_dataset.csv', index=False)

In [76]:
new_movies = pd.read_csv('../data/new_movies_dataset.csv')
new_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105711 entries, 0 to 105710
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   movieId        105711 non-null  int64
 1   title          105711 non-null  object
 2   genres         105711 non-null  object
 3   year           105711 non-null  int64
 4   title_no_year  105697 non-null  object
dtypes: int64(2), object(3)
memory usage: 4.0+ MB

In [77]:
new_movies

        movieId             title     genres  year title_no_year
0             1  Toy Story (1995)  Adventure  1995     Toy Story
1             1  Toy Story (1995)  Animation  1995     Toy Story
2             1  Toy Story (1995)   Children  1995     Toy Story
3             1  Toy Story (1995)     Comedy  1995     Toy Story
4             1  Toy Story (1995)    Fantasy  1995     Toy Story
...         ...               ...        ...   ...           ...
105706   193882      Flora (2017)     Horror  2017         Flora
105707   193882      Flora (2017)     Sci-Fi  2017         Flora
105708   193886       Leal (2018)     Action  2018          Leal
105709   193886       Leal (2018)      Crime  2018          Leal
105710   193886       Leal (2018)      Drama  2018          Leal

[105711 rows x 5 columns]

In [78]:
# Should use this code to return sub genres for recommendations
# genres_df_dict = {g:df for g, df in movies_df.groupby('genres')}

# for key, df in genres_df_dict.items():
#     genres_df_dict[key] = df.to_dict(orient='records')

In [80]:
# len(genres_df_dict)

20

In [81]:
# genres_df_dict['Action']

       movieId                    title  genres  year     title_no_year
5            6              Heat (1995)  Action  1995              Heat
8            9      Sudden Death (1995)  Action  1995      Sudden Death
9           10         GoldenEye (1995)  Action  1995         GoldenEye
14          15  Cutthroat Island (1995)  Action  1995  Cutthroat Island
19          20       Money Train (1995)  Action  1995       Money Train
...        ...                      ...     ...   ...               ...
58061   193809  The Stone Killer (1973)  Action  1973  The Stone Killer
58077   193843             Raazi (2018)  Action  2018             Raazi
58081   193853           Wu Kong (2017)  Action  2017           Wu Kong
58085   193861      Cold Harvest (1998)  Action  1998      Cold Harvest
58097   193886              Leal (2018)  Action  2018              Leal

[7114 rows x 5 columns]